USE [master]
GO
/****** Object:  Database [TicketAnalytics]    Script Date: 7/30/2025 2:22:00 PM ******/
CREATE DATABASE [TicketAnalytics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicketAnalytics', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.THELIBRARY2025\MSSQL\DATA\TicketAnalytics.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TicketAnalytics_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.THELIBRARY2025\MSSQL\DATA\TicketAnalytics_log.ldf' , SIZE = 466944KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketAnalytics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketAnalytics]
GO
/****** Object:  User [TheAnalyst]    Script Date: 7/30/2025 2:22:00 PM ******/
CREATE USER [TheAnalyst] FOR LOGIN [TheAnalyst] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [TheAnalyst]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [TheAnalyst]
GO
/****** Object:  Table [dbo].[AnalysisRuns]    Script Date: 7/30/2025 2:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalysisRuns](
	[RunID] [int] IDENTITY(1,1) NOT NULL,
	[RunStartTime] [datetime2](3) NOT NULL,
	[RunEndTime] [datetime2](3) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TicketsProcessed] [int] NULL,
	[LastTicketDateProcessed] [datetime2](3) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscoveredSkills]    Script Date: 7/30/2025 2:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoveredSkills](
	[DiscoveredSkillID] [int] IDENTITY(1,1) NOT NULL,
	[DiscoveredSkillName] [nvarchar](255) NOT NULL,
	[ManagedSkillID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscoveredSkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DiscoveredSkillName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagedSkills]    Script Date: 7/30/2025 2:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedSkills](
	[ManagedSkillID] [int] IDENTITY(1,1) NOT NULL,
	[ManagedSkillName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ManagedSkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ManagedSkillName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessingCheckpoint]    Script Date: 7/30/2025 2:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessingCheckpoint](
	[LastProcessedTicketID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessingQueue]    Script Date: 7/30/2025 2:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessingQueue](
	[QueueID] [int] IDENTITY(1,1) NOT NULL,
	[SourceTicketNumber] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[LastUpdated] [datetime2](3) NOT NULL,
	[WorkerID] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[QueueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SourceTicketNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SourceSystems]    Script Date: 7/30/2025 2:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SourceSystems](
	[SourceSystemID] [int] IDENTITY(1,1) NOT NULL,
	[SystemName] [nvarchar](100) NOT NULL,
	[TicketUrlTemplate] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[SourceSystemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SystemName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technicians]    Script Date: 7/30/2025 2:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technicians](
	[TechnicianID] [int] IDENTITY(1,1) NOT NULL,
	[TechnicianName] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TechnicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TechnicianName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 7/30/2025 2:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[SourceTicketNumber] [nvarchar](50) NOT NULL,
	[SourceSystemID] [int] NOT NULL,
	[TechnicianID] [int] NOT NULL,
	[DateClosed] [datetime2](3) NOT NULL,
	[ProcessingStatusID] [tinyint] NOT NULL,
	[WorkerID] [nvarchar](100) NULL,
	[LastUpdated] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticket_Source] UNIQUE NONCLUSTERED 
(
	[SourceTicketNumber] ASC,
	[SourceSystemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketSkills]    Script Date: 7/30/2025 2:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketSkills](
	[TicketID] [int] NOT NULL,
	[DiscoveredSkillID] [int] NOT NULL,
 CONSTRAINT [PK_TicketSkills] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC,
	[DiscoveredSkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProcessingQueue_Status]    Script Date: 7/30/2025 2:22:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProcessingQueue_Status] ON [dbo].[ProcessingQueue]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_ProcessingStatus]    Script Date: 7/30/2025 2:22:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_ProcessingStatus] ON [dbo].[Tickets]
(
	[ProcessingStatusID] ASC
)
WHERE ([ProcessingStatusID]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProcessingQueue] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ProcessingQueue] ADD  DEFAULT (getutcdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Technicians] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((0)) FOR [ProcessingStatusID]
GO
ALTER TABLE [dbo].[DiscoveredSkills]  WITH CHECK ADD  CONSTRAINT [FK_DiscoveredSkills_ManagedSkills] FOREIGN KEY([ManagedSkillID])
REFERENCES [dbo].[ManagedSkills] ([ManagedSkillID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DiscoveredSkills] CHECK CONSTRAINT [FK_DiscoveredSkills_ManagedSkills]
GO
ALTER TABLE [dbo].[Tickets]  WITH NOCHECK ADD  CONSTRAINT [FK_Tickets_SourceSystems] FOREIGN KEY([SourceSystemID])
REFERENCES [dbo].[SourceSystems] ([SourceSystemID])
GO
ALTER TABLE [dbo].[Tickets] NOCHECK CONSTRAINT [FK_Tickets_SourceSystems]
GO
ALTER TABLE [dbo].[Tickets]  WITH NOCHECK ADD  CONSTRAINT [FK_Tickets_Technicians] FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Technicians] ([TechnicianID])
GO
ALTER TABLE [dbo].[Tickets] NOCHECK CONSTRAINT [FK_Tickets_Technicians]
GO
ALTER TABLE [dbo].[TicketSkills]  WITH NOCHECK ADD  CONSTRAINT [FK_TicketSkills_DiscoveredSkills] FOREIGN KEY([DiscoveredSkillID])
REFERENCES [dbo].[DiscoveredSkills] ([DiscoveredSkillID])
GO
ALTER TABLE [dbo].[TicketSkills] NOCHECK CONSTRAINT [FK_TicketSkills_DiscoveredSkills]
GO
ALTER TABLE [dbo].[TicketSkills]  WITH NOCHECK ADD  CONSTRAINT [FK_TicketSkills_Tickets] FOREIGN KEY([TicketID])
REFERENCES [dbo].[Tickets] ([TicketID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TicketSkills] NOCHECK CONSTRAINT [FK_TicketSkills_Tickets]
GO
/****** Object:  StoredProcedure [dbo].[sp_ClaimTicketBatch]    Script Date: 7/30/2025 2:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ClaimTicketBatch]
    @WorkerID NVARCHAR(100),
    @BatchSize INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TOP (@BatchSize) T
    SET
        ProcessingStatusID = 1, -- Set status to "Claimed"
        WorkerID = @WorkerID,
        LastUpdated = GETUTCDATE()
    OUTPUT
        inserted.TicketID,
        inserted.SourceTicketNumber
    -- ADDED: These hints prevent workers from blocking each other --
    FROM dbo.Tickets AS T WITH (UPDLOCK, ROWLOCK, READPAST)
    WHERE
        T.ProcessingStatusID = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrCreateTechnician]    Script Date: 7/30/2025 2:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetOrCreateTechnician]
    @TechnicianName NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL SERIALIZABLE; -- Prevents race conditions

    DECLARE @TechnicianID INT;

    BEGIN TRAN;

    SELECT @TechnicianID = TechnicianID
    FROM dbo.Technicians
    WHERE TechnicianName = @TechnicianName;

    IF @TechnicianID IS NULL
    BEGIN
        INSERT INTO dbo.Technicians (TechnicianName)
        VALUES (@TechnicianName);
        
        SET @TechnicianID = SCOPE_IDENTITY();
    END

    COMMIT TRAN;

    SELECT @TechnicianID AS TechnicianID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LinkSkillToTicket]    Script Date: 7/30/2025 2:22:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_LinkSkillToTicket]
    @TicketID INT,
    @SkillName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DiscoveredSkillID INT;

    -- Find the skill ID if it already exists
    SELECT @DiscoveredSkillID = DiscoveredSkillID
    FROM dbo.DiscoveredSkills
    WHERE DiscoveredSkillName = @SkillName;

    -- If the skill does not exist, insert it and get the new ID
    IF @DiscoveredSkillID IS NULL
    BEGIN
        INSERT INTO dbo.DiscoveredSkills (DiscoveredSkillName)
        VALUES (@SkillName);
        
        SET @DiscoveredSkillID = SCOPE_IDENTITY();
    END

    -- Link the skill to the ticket, avoiding duplicates
    IF NOT EXISTS (
        SELECT 1 FROM dbo.TicketSkills
        WHERE TicketID = @TicketID AND DiscoveredSkillID = @DiscoveredSkillID
    )
    BEGIN
        INSERT INTO dbo.TicketSkills (TicketID, DiscoveredSkillID)
        VALUES (@TicketID, @DiscoveredSkillID);
    END
END
GO
USE [master]
GO
